h1 {
  text-align: center;
}

.div-login-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.div-content {
  background-color: rgb(230, 230, 230);
  margin-bottom: 24px;
  padding: 10px;
  text-align: center;
}